<footer class="footer-area">
    <div class="footer-top-area section-bg-5">
       <div class="container">
          <div class="row">
            <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget clearfix">
                    <h4 class="footer-title">My Accoout</h4>
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a routerLink="/account">My account</a>
                            </li>
                            <li>
                                <a routerLink="/checkout">Checkout</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Contact us</a>
                            </li>
                            <li>
                                <a routerLink="/cart">Shopping Cart</a>
                            </li>
                            <li>
                                <a routerLink="/wishlist">Wishlist</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget clearfix">
                    <h4 class="footer-title">Quick Links</h4>
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a routerLink="/locations">Store Location</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Orders Tracking</a>
                            </li>
                            <li>
                                <a routerLink="/shop-details">Size Guide</a>
                            </li>
                            <li>
                                <a routerLink="/cart">My account</a>
                            </li>
                            <li>
                                <a routerLink="/faq">FAQs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget clearfix">
                    <h4 class="footer-title">Information</h4>
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a routerLink="/contact">Privacy Page</a>
                            </li>
                            <li>
                                <a routerLink="/about">About Us</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Careers</a>
                            </li>
                            <li>
                                <a routerLink="/faq">Delivery Inforamtion</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 col-sm-6 col-12">
                <div class="footer-widget clearfix">
                    <h4 class="footer-title">Customer Service</h4>
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a routerLink="/shop-details">Shipping Policy</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Help & Contact Us</a>
                            </li>
                            <li>
                                <a routerLink="/account">Returns & Refunds</a>
                            </li>
                            <li>
                                <a routerLink="/shop">Online Stores</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Terms and Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-6 col-12">
                <div class="footer-widget footer-about-widget">
                    <h4 class="footer-title">About Our Shop</h4>
                    <p>
                        Lorem ipsum dolor sit amet, 
                        consectetur adipisicing elit,
                        sed do eiusmo incididunt ut labore et dolore
                    </p>
                    <div class="footer-address">
                        <ul>
                            <li>
                                <div class="footer-address-icon">
                                    <i class="icon-location-pin"></i>
                                </div>
                                <div class="footer-address-info">
                                    <p>Brooklyn, New York, United States</p>
                                </div>
                            </li>
                            <li>
                                <div class="footer-address-icon">
                                    <i class="icon-phone"></i>
                                </div>
                                <div class="footer-address-info">
                                    <a href="#">+0123-456789</a>
                                </div>
                            </li>
                            <li>
                                <div class="footer-address-icon">
                                    <i class="icon-envelope"></i>
                                </div>
                                <div class="footer-address-info">
                                    <a href="#">exampleexample.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-payment-img">
                        <img src="assets/images/payment-6.png">
                    </div>
                </div>
            </div>
          </div>
       </div>
    </div>
    <div class="copyright-area section-bg-5">
        <div class="container border-top-2">
            <div class="row">
                <div class="col-md-6 col-12">
                   <div class="footer-copyright-left">
                    <div class="copyright-design clearfix">
                        <p>
                            ©
                            <span class="current-year">2023</span>
                            - Just For You
                        </p>
                    </div>
                   </div>
                </div>
                <div class="col-md-6 col-12 align-self-center">
                    <div class="footer-copyright-right text-right">
                        <div class="social-media">
                            <ul>
                                <li>
                                    <a href="facebook.com">
                                        <i class="icon-social-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="twitter.com">
                                        <i class="icon-social-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="linkedin.com">
                                        <i class="icon-social-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="instagram.com">
                                        <i class="icon-social-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
