
    <ng-template carouselSlide>
        <div class="slider-item" style="background-image: url(assets/images/slide1.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-items-center">
                            <div class="slider-info">
                                <h1 class="slide-title animate__fadeInUp animate__animated">Fresh Flower</h1>
                                <h6 class="slide-sub-title animate__fadeInUp animate__animated">
                                    Natural & Beautiful Flower Here
                                </h6>
                                <div class="slide-brief animate__fadeInUp animate__animated">
                                    <p>
                                       Lorem ipsum dolor sit amet, consectetur 
                                       adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                                    </p>
                                </div>
                                <div class="btn-wrapper animate__fadeInUp animate__animated">
                                    <a routerLink="/shop" class="theme-btn-1 btn btn-round">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>  
    <ng-template carouselSlide>
        <div class="slider-item" style="background-image: url(assets/images/slide2.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 align-items-center">
                            <div class="slider-info">
                                <h1 class="slide-title animate__fadeInUp animate__animated">Fresh Flower</h1>
                                <h6 class="slide-sub-title animate__fadeInUp animate__animated">
                                    Natural & Beautiful Flower Here
                                </h6>
                                <div class="slide-brief animate__fadeInUp animate__animated">
                                    <p>
                                       Lorem ipsum dolor sit amet, consectetur 
                                       adipisicing elit, sed do eiusmod tempor incididunt ut labore.
                                    </p>
                                </div>
                                <div class="btn-wrapper animate__fadeInUp animate__animated">
                                    <a routerLink="/shop" class="theme-btn-1 btn btn-round">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

