<app-slider></app-slider>

<div class="feature-area mt--65">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class=" feature-wrap ltn__border section-bg-6">
                    <div class="feature-item">
                        <div class="feature-icon">
                         <img src="assets/svg/8-trolley.svg">
                        </div>
                        <div class="feature-info">
                         <h4>Free shipping</h4>
                         <p>On all orders over $49.00</p>
                        </div>
                     </div>
                     <div class="feature-item">
                        <div class="feature-icon">
                         <img src="assets/svg/9-money.svg">
                        </div>
                        <div class="feature-info">
                         <h4>15 days returns</h4>
                         <p>Moneyback guarantee</p>
                        </div>
                     </div>
                     <div class="feature-item">
                        <div class="feature-icon">
                         <img src="assets/svg/10-credit-card.svg">
                        </div>
                        <div class="feature-info">
                         <h4>Secure checkout</h4>
                         <p>Protected by Paypal</p>
                        </div>
                     </div>
                     <div class="feature-item">
                        <div class="feature-icon">
                         <img src="assets/svg/11-gift-card.svg">
                        </div>
                        <div class="feature-info">
                         <h4>Offer & gift here</h4>
                         <p>On all orders over</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner-area mt-80">
   <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
            <div class="banner-item">
                <div class="banner-img">
                    <a routerLink="/shop">
                        <img src="assets/images/banner1.jpg">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="banner-item">
                <div class="banner-img">
                    <a routerLink="/shop">
                        <img src="assets/images/banner2.jpg">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="banner-item">
                <div class="banner-img">
                    <a routerLink="/shop">
                        <img src="assets/images/banner3.jpg">
                    </a>
                </div>
            </div>
        </div>
      </div>
   </div>
</div>

<div class="product-area pb-40 pt-65">
    <div class="container">
        <div class="section-title-area text-center">
           <h1 class="section-border section-title">new arrival items</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item text-center">
                   <div class="product-img">
                    <a routerLink="/shop-details">
                        <img src="assets/images/1.png">
                    </a>
                    <div class="product-badge">
                        <ul>
                            <li class="badge-2">10%</li>
                        </ul>
                    </div>
                    <div class="product-hover-action">
                        <ul>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="add-to-cart">
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                   <span class="cart-text d-xl-block">ADD TO CART</span> 
                                </a>
                            </li>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-shuffle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                   </div>
                   <div class="product-info">
                    <h2 class="product-title">
                        <a routerLink="/shop-details">
                            pink flower tree
                        </a>
                    </h2>
                    <div class="product-price">
                        <span>$18.00</span>
                        <del>$21.00</del>
                    </div>
                   </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item text-center">
                   <div class="product-img">
                    <a routerLink="/shop-details">
                        <img src="assets/images/2.png">
                    </a>
                    <div class="product-badge">
                        <ul>
                            <li class="badge-1">Hot</li>
                        </ul>
                    </div>
                    <div class="product-hover-action">
                        <ul>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="add-to-cart">
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                   <span class="cart-text d-xl-block">ADD TO CART</span> 
                                </a>
                            </li>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-shuffle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                   </div>
                   <div class="product-info">
                    <h2 class="product-title">
                        <a routerLink="/shop-details">
                            Premium Joyful
                        </a>
                    </h2>
                    <div class="product-price">
                        <span>$18.00</span>
                    </div>
                   </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item text-center">
                   <div class="product-img">
                    <a routerLink="/shop-details">
                        <img src="assets/images/3.png">
                    </a>
                    <div class="product-badge">
                        <ul>
                            <li class="badge-2">%12</li>
                        </ul>
                    </div>
                    <div class="product-hover-action">
                        <ul>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="add-to-cart">
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                   <span class="cart-text d-xl-block">ADD TO CART</span> 
                                </a>
                            </li>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-shuffle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                   </div>
                   <div class="product-info">
                    <h2 class="product-title">
                        <a routerLink="/shop-details">
                            THE WHITE ROSE
                        </a>
                    </h2>
                    <div class="product-price">
                        <span>$16.00</span>
                        <del>$19.00</del>
                    </div>
                   </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item text-center">
                   <div class="product-img">
                    <a routerLink="/shop-details">
                        <img src="assets/images/4.png">
                    </a>
                    <div class="product-badge">
                        <ul>
                            <li class="badge-1">Hot</li>
                        </ul>
                    </div>
                    <div class="product-hover-action">
                        <ul>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="add-to-cart">
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                   <span class="cart-text d-xl-block">ADD TO CART</span> 
                                </a>
                            </li>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-shuffle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                   </div>
                   <div class="product-info">
                    <h2 class="product-title">
                        <a routerLink="/shop-details">
                            RED ROSE BOUQUET
                        </a>
                    </h2>
                    <div class="product-price">
                        <span>$20.00</span>
                    </div>
                   </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item text-center">
                   <div class="product-img">
                    <a routerLink="/shop-details">
                        <img src="assets/images/5.png">
                    </a>
                    <div class="product-badge">
                        <ul>
                            <li class="badge-1">Hot</li>
                        </ul>
                    </div>
                    <div class="product-hover-action">
                        <ul>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="add-to-cart">
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                   <span class="cart-text d-xl-block">ADD TO CART</span> 
                                </a>
                            </li>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-shuffle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                   </div>
                   <div class="product-info">
                    <h2 class="product-title">
                        <a routerLink="/shop-details">
                            HEART'S DESIRE
                        </a>
                    </h2>
                    <div class="product-price">
                        <span>$15.00</span>
                    </div>
                   </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item text-center">
                   <div class="product-img">
                    <a routerLink="/shop-details">
                        <img src="assets/images/6.png">
                    </a>
                    <div class="product-badge">
                        <ul>
                            <li class="badge-2">%15</li>
                        </ul>
                    </div>
                    <div class="product-hover-action">
                        <ul>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="add-to-cart">
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                   <span class="cart-text d-xl-block">ADD TO CART</span> 
                                </a>
                            </li>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-shuffle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                   </div>
                   <div class="product-info">
                    <h2 class="product-title">
                        <a routerLink="/shop-details">
                            ASSORTED ROSES
                        </a>
                    </h2>
                    <div class="product-price">
                        <span>$17.00</span>
                    </div>
                   </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item text-center">
                   <div class="product-img">
                    <a routerLink="/shop-details">
                        <img src="assets/images/7.png">
                    </a>
                    <div class="product-badge">
                        <ul>
                            <li class="badge-1">Hot</li>
                        </ul>
                    </div>
                    <div class="product-hover-action">
                        <ul>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="add-to-cart">
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                   <span class="cart-text d-xl-block">ADD TO CART</span> 
                                </a>
                            </li>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-shuffle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                   </div>
                   <div class="product-info">
                    <h2 class="product-title">
                        <a routerLink="/shop-details">
                            ROSES SURPRISE
                        </a>
                    </h2>
                    <div class="product-price">
                        <span>$12.00</span>
                    </div>
                   </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product-item text-center">
                   <div class="product-img">
                    <a routerLink="/shop-details">
                        <img src="assets/images/8.png">
                    </a>
                    <div class="product-badge">
                        <ul>
                            <li class="badge-1">%12</li>
                        </ul>
                    </div>
                    <div class="product-hover-action">
                        <ul>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </li>
                            <li class="add-to-cart">
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                   <span class="cart-text d-xl-block">ADD TO CART</span> 
                                </a>
                            </li>
                            <li>
                                <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                    <i class="icon-shuffle"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                   </div>
                   <div class="product-info">
                    <h2 class="product-title">
                        <a routerLink="/shop-details">
                            TROPICAL PEACE LILY
                        </a>
                    </h2>
                    <div class="product-price">
                        <span>$14.00</span>
                        <del>$25.00</del>
                    </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner-area">
    <div class="container">
       <div class="row justify-content-center">
         <div class="col-md-6 col-sm-12">
             <div class="banner-item">
                 <div class="banner-img">
                     <a routerLink="/shop">
                         <img src="assets/images/banner6.jpg">
                     </a>
                 </div>
             </div>
         </div>
         <div class="col-md-6 col-sm-12">
             <div class="banner-item">
                 <div class="banner-img">
                     <a routerLink="/shop">
                         <img src="assets/images/banner7.jpg">
                     </a>
                 </div>
             </div>
         </div>
       </div>
    </div>
</div>

<app-slider-products></app-slider-products>

<div class="banner-area">
    <div class="container">
       <div class="row justify-content-center">
         <div class="col-md-12 col-sm-12">
             <div class="banner-item">
                 <div class="banner-img">
                     <a routerLink="/shop">
                         <img src="assets/images/banner10.jpg">
                     </a>
                 </div>
             </div>
         </div>
       </div>
    </div>
</div>

