<div class="slider-products pt-60 pb-40">
    <div class="container">
        <div class="section-title-area text-center">
        <h1 class="section-border section-title">top products</h1>
        </div>
        
            <ng-template carouselSlide>
                <div class="product-item text-center">
                    <div class="product-img">
                     <a routerLink="/shop-details">
                         <img src="assets/images/1.png">
                     </a>
                     <div class="product-badge">
                         <ul>
                             <li class="badge-2">10%</li>
                         </ul>
                     </div>
                     <div class="product-hover-action">
                         <ul>
                             <li>
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                     <i class="icon-magnifier"></i>
                                 </a>
                             </li>
                             <li class="add-to-cart">
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                    <span class="cart-text d-xl-block">ADD TO CART</span> 
                                 </a>
                             </li>
                             <li>
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                     <i class="icon-shuffle"></i>
                                 </a>
                             </li>
                         </ul>
                     </div>
                    </div>
                    <div class="product-info">
                     <h2 class="product-title">
                         <a routerLink="/shop-details">
                             pink flower tree
                         </a>
                     </h2>
                     <div class="product-price">
                         <span>$18.00</span>
                         <del>$21.00</del>
                     </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="product-item text-center">
                    <div class="product-img">
                     <a routerLink="/shop-details">
                         <img src="assets/images/2.png">
                     </a>
                     <div class="product-badge">
                         <ul>
                             <li class="badge-1">Hot</li>
                         </ul>
                     </div>
                     <div class="product-hover-action">
                         <ul>
                             <li>
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                     <i class="icon-magnifier"></i>
                                 </a>
                             </li>
                             <li class="add-to-cart">
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                    <span class="cart-text d-xl-block">ADD TO CART</span> 
                                 </a>
                             </li>
                             <li>
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                     <i class="icon-shuffle"></i>
                                 </a>
                             </li>
                         </ul>
                     </div>
                    </div>
                    <div class="product-info">
                     <h2 class="product-title">
                         <a routerLink="/shop-details">
                             Premium Joyful
                         </a>
                     </h2>
                     <div class="product-price">
                         <span>$18.00</span>
                     </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="product-item text-center">
                    <div class="product-img">
                     <a routerLink="/shop-details">
                         <img src="assets/images/3.png">
                     </a>
                     <div class="product-badge">
                         <ul>
                             <li class="badge-2">%12</li>
                         </ul>
                     </div>
                     <div class="product-hover-action">
                         <ul>
                             <li>
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                     <i class="icon-magnifier"></i>
                                 </a>
                             </li>
                             <li class="add-to-cart">
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                    <span class="cart-text d-xl-block">ADD TO CART</span> 
                                 </a>
                             </li>
                             <li>
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                     <i class="icon-shuffle"></i>
                                 </a>
                             </li>
                         </ul>
                     </div>
                    </div>
                    <div class="product-info">
                     <h2 class="product-title">
                         <a routerLink="/shop-details">
                             THE WHITE ROSE
                         </a>
                     </h2>
                     <div class="product-price">
                         <span>$16.00</span>
                         <del>$19.00</del>
                     </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="product-item text-center">
                    <div class="product-img">
                     <a routerLink="/shop-details">
                         <img src="assets/images/4.png">
                     </a>
                     <div class="product-badge">
                         <ul>
                             <li class="badge-1">Hot</li>
                         </ul>
                     </div>
                     <div class="product-hover-action">
                         <ul>
                             <li>
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                     <i class="icon-magnifier"></i>
                                 </a>
                             </li>
                             <li class="add-to-cart">
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                    <span class="cart-text d-xl-block">ADD TO CART</span> 
                                 </a>
                             </li>
                             <li>
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                     <i class="icon-shuffle"></i>
                                 </a>
                             </li>
                         </ul>
                     </div>
                    </div>
                    <div class="product-info">
                     <h2 class="product-title">
                         <a routerLink="/shop-details">
                             RED ROSE BOUQUET
                         </a>
                     </h2>
                     <div class="product-price">
                         <span>$20.00</span>
                     </div>
                    </div>
                 </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="product-item text-center">
                    <div class="product-img">
                     <a routerLink="/shop-details">
                         <img src="assets/images/5.png">
                     </a>
                     <div class="product-badge">
                         <ul>
                             <li class="badge-1">Hot</li>
                         </ul>
                     </div>
                     <div class="product-hover-action">
                         <ul>
                             <li>
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                     <i class="icon-magnifier"></i>
                                 </a>
                             </li>
                             <li class="add-to-cart">
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                    <span class="cart-text d-xl-block">ADD TO CART</span> 
                                 </a>
                             </li>
                             <li>
                                 <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                     <i class="icon-shuffle"></i>
                                 </a>
                             </li>
                         </ul>
                     </div>
                    </div>
                    <div class="product-info">
                     <h2 class="product-title">
                         <a routerLink="/shop-details">
                             HEART'S DESIRE
                         </a>
                     </h2>
                     <div class="product-price">
                         <span>$15.00</span>
                     </div>
                    </div>
                 </div>
            </ng-template>
        
    </div>
</div>






